TeamSentimentV4-MainFlow.json
{
  "name": "TeamSentimentV4-w/Automate",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        16
      ],
      "id": "853a1626-2de5-4124-909e-44f6d14fbd49",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\n\n// ISO week cycle id like 2026-W10\nfunction getISOWeek(date) {\n  const d = new Date(Date.UTC(date.getFullYear(), date.getMonth(), date.getDate()));\n  const dayNum = d.getUTCDay() || 7;\n  d.setUTCDate(d.getUTCDate() + 4 - dayNum);\n  const yearStart = new Date(Date.UTC(d.getUTCFullYear(), 0, 1));\n  const weekNo = Math.ceil((((d - yearStart) / 86400000) + 1) / 7);\n  return { year: d.getUTCFullYear(), week: weekNo };\n}\n\nconst now = new Date();\nconst { year, week } = getISOWeek(now);\nconst cycle_id = `${year}-W${String(week).padStart(2, \"0\")}`;\n\nreturn {\n  json: {\n    cycle_id,\n    responses: rows\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        16
      ],
      "id": "59c30c5b-994b-44b1-aa59-1516866feed4",
      "name": "Bundle Responses"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Yy2V8XLbrX_hwvTSmBgBkxFcvftjm-S1hz7fN4Ku824",
          "mode": "list",
          "cachedResultName": "Survey-MoonFire (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yy2V8XLbrX_hwvTSmBgBkxFcvftjm-S1hz7fN4Ku824/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1366909474,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yy2V8XLbrX_hwvTSmBgBkxFcvftjm-S1hz7fN4Ku824/edit#gid=1366909474"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -432,
        16
      ],
      "id": "bdce1b88-be4d-4fa8-a24f-6e067aaaa27d",
      "name": "Read Form Responses",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QTLNqn8fDelsf3eP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You analyze anonymous engineering team pulse survey results. Use only the provided data. Do not guess missing information. Be concise, respectful, and action-oriented.\nYou are an analytics engine. Output ONLY valid JSON. Do not include markdown, code fences, or extra text."
            },
            {
              "content": "=Analyze these Google Form responses (array of rows) and return ONLY valid JSON in this schema:\n{\n\"response_count\":0\n\"overall_score\": 0,\n\"themes\": [{\"theme\":\"\",\"evidence_count\":0}],\n\"risks\": [{\"risk\":\"\",\"severity\":\"low|med|high\",\"why\":\"\"}],\n\"quotes\": [\"\"],\n\"summary\": \"\"\n}\n\nExtract top 5 themes.\n\nLikert answers are TEXT such as \"Strongly agree\", \"Agree\", \"Neutral\", \"Disagree\", \"Strongly disagree\".\nConvert them to numbers: Strongly disagree=1, Disagree=2, Neutral=3, Agree=4, Strongly agree=5.\nAdd a field \"response_count\" to the output JSON.\nIt must equal the number of response objects provided in the input array.\n\nData:\n{{ JSON.stringify($json.responses) }}"
            }
          ]
        },
        "simplify": "",
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -128,
        16
      ],
      "id": "9c1ca7c0-a345-4e59-bcdd-52d11e914e9a",
      "name": "Analysis",
      "credentials": {
        "openAiApi": {
          "id": "kdZaI8eZpOJUCB2t",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Yy2V8XLbrX_hwvTSmBgBkxFcvftjm-S1hz7fN4Ku824",
          "mode": "list",
          "cachedResultName": "Survey-MoonFire (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yy2V8XLbrX_hwvTSmBgBkxFcvftjm-S1hz7fN4Ku824/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1995910519,
          "mode": "list",
          "cachedResultName": "Insights",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yy2V8XLbrX_hwvTSmBgBkxFcvftjm-S1hz7fN4Ku824/edit#gid=1995910519"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "generated_at": "={{ new Date().toISOString() }}",
            "response_count": "={{ $json.response_count }}",
            "overall_score": "={{ $json.overall_score || 0}}",
            "themes_json": "={{ JSON.stringify($json.themes) || 'NONE'}}",
            "risks_json": "={{ JSON.stringify($json.risks) || 'NONE'}}",
            "quotes_json": "={{ JSON.stringify($json.quotes) || 'NONE'}}",
            "summary_text": "={{ $json.summary || 'NONE'}}",
            "cycle_id": "={{ $node[\"Bundle Responses\"].json.cycle_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cycle_id",
              "displayName": "cycle_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_at",
              "displayName": "generated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response_count",
              "displayName": "response_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "overall_score",
              "displayName": "overall_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "themes_json",
              "displayName": "themes_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "risks_json",
              "displayName": "risks_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quotes_json",
              "displayName": "quotes_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary_text",
              "displayName": "summary_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        16
      ],
      "id": "5c093590-d583-4dbe-99f7-e8ddf03631d0",
      "name": "Append Insights",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QTLNqn8fDelsf3eP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a practical coaching assistant for engineering managers. Output ONLY valid JSON (no markdown, no code fences)."
            },
            {
              "content": "=Based on the survey insights JSON below, create a 2-week action plan for the manager.\n\nRequirements:\n\nProvide EXACTLY 5 actions.\n\nEach action must include: title, rationale, effort (S/M/L), expected_impact, exact_next_step, metric_next_cycle.\n\nAlso create a short manager_message (2–4 sentences) that acknowledges feedback and commits to next steps.\n\nReturn JSON exactly:\n{\n\"actions\": [\n{\n\"title\": \"\",\n\"rationale\": \"\",\n\"effort\": \"S\",\n\"expected_impact\": \"\",\n\"exact_next_step\": \"\",\n\"metric_next_cycle\": \"\"\n}\n],\n\"manager_message\": \"\"\n}\n\nInsights:\n{{ JSON.stringify($json) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        400,
        16
      ],
      "id": "98f66ff2-c115-4270-894a-4001ae3846f7",
      "name": "Generate Action Plan",
      "credentials": {
        "openAiApi": {
          "id": "kdZaI8eZpOJUCB2t",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Yy2V8XLbrX_hwvTSmBgBkxFcvftjm-S1hz7fN4Ku824",
          "mode": "list",
          "cachedResultName": "Survey-MoonFire (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yy2V8XLbrX_hwvTSmBgBkxFcvftjm-S1hz7fN4Ku824/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 152523917,
          "mode": "list",
          "cachedResultName": "Action_Plan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yy2V8XLbrX_hwvTSmBgBkxFcvftjm-S1hz7fN4Ku824/edit#gid=152523917"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "generated_at": "={{ new Date().toISOString() }}",
            "response_count": "={{ $node[\"Parse Insights JSON\"].json.response_count }}",
            "actions_json": "={{ JSON.stringify($json.actions) }}",
            "manager_message": "={{ $json.manager_message }}",
            "cycle_id": "={{ $node[\"Bundle Responses\"].json.cycle_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cycle_id",
              "displayName": "cycle_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_at",
              "displayName": "generated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response_count",
              "displayName": "response_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "actions_json",
              "displayName": "actions_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "manager_message",
              "displayName": "manager_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        16
      ],
      "id": "7d74cdde-0201-4211-bf15-7214efab985a",
      "name": "Action Plan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QTLNqn8fDelsf3eP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst msg = items[0].json;\n\n// For your OpenAI output structure: content[0].text\nconst text =\n  msg.content?.[0]?.text ??\n  msg.output?.[0]?.content?.[0]?.text ??\n  msg.message?.content ??\n  msg.choices?.[0]?.message?.content ??\n  JSON.stringify(msg);\n\n// Parse JSON; if it still contains extra text, extract {...}\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  const match = String(text).match(/\\{[\\s\\S]*\\}/);\n  if (!match) return { json: { error: \"No JSON found\", raw: text } };\n  parsed = JSON.parse(match[0]);\n}\n\nreturn { json: parsed };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        16
      ],
      "id": "70870d67-9d4c-4f3b-af72-62c536532f69",
      "name": "Parse Insights JSON"
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.all()[0].json;\nconst text =\n  msg.content?.[0]?.text ??\n  msg.output?.[0]?.content?.[0]?.text ??\n  msg.message?.content ??\n  msg.choices?.[0]?.message?.content ??\n  JSON.stringify(msg);\n\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  const match = String(text).match(/\\{[\\s\\S]*\\}/);\n  if (!match) return { json: { error: \"No JSON found\", raw: text } };\n  parsed = JSON.parse(match[0]);\n}\n\nreturn { json: parsed };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        16
      ],
      "id": "533809da-367d-46d7-aabf-ee0924695d4e",
      "name": "Parse Action Plan JSON"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read Form Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bundle Responses": {
      "main": [
        [
          {
            "node": "Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Form Responses": {
      "main": [
        [
          {
            "node": "Bundle Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis": {
      "main": [
        [
          {
            "node": "Parse Insights JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Insights": {
      "main": [
        [
          {
            "node": "Generate Action Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Action Plan": {
      "main": [
        [
          {
            "node": "Parse Action Plan JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Insights JSON": {
      "main": [
        [
          {
            "node": "Append Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Action Plan JSON": {
      "main": [
        [
          {
            "node": "Action Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f4851698-9515-4da6-bae6-31f2237ffe02",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16e41e27b9f9d502e70aa88a76b9b2840ad51d754a4e9fab92233d46d2836f4c"
  },
  "id": "UdsPPnI4U0QKPV2T",
  "tags": []
}